body{
    margin: 6px;
    padding: 6px;
    text-align: center;
    background-color:beige;
    
    background-size: cover;
    background-position: center;
    
}
h1{
    text-align: bold;
    color: solid black;
}
.content-title{
    margin-top: 100px;
    color: rgb(43, 36, 36);
    text-transform: uppercase;
    transition: all 2 ease-in-out;

}
.content-title h1{
    font-size: 32px;
    line-height: 10px;
}

.content-title h2{
    font-size: 10px;
}

form{
    margin-top: 50px;
    transition: all;
}

.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color:#ffffff;
    font-size: 18px;
    margin-bottom: 16px;
}

input{
    height: 45px;

}

form.submit{
    background: green;
    border-color: ;
    color: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
}

form.submit:hover{
    background-color: peachpuff;
    cursor: pointer;
}