body{
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(0,0 150, 0.5,),rgba(0, 0, 50, 0.5),url(ama.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.content-title{
    
}